<?xml version="1.0" encoding="utf-8"?>
<configuration>
  	<configSections>
      <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings,      Microsoft.Practices.EnterpriseLibrary.Logging,      Version=6.0.0.0,      Culture=neutral,      PublicKeyToken=31bf3856ad364e35" />
  	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  	<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  	</configSections>
  
  	<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
      <listeners>
        <add name="FlatFile TraceListener" fileName="C:\temp\logs\VNCVSProjectWizard\VNCVSProjectWizard.log" header="" footer="" formatter="FlatFile Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData,       Microsoft.Practices.EnterpriseLibrary.Logging,       Version=6.0.0.0,       Culture=neutral,       PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener,       Microsoft.Practices.EnterpriseLibrary.Logging,       Version=6.0.0.0,       Culture=neutral,       PublicKeyToken=31bf3856ad364e35" />
        <add name="Formatted EventLog TraceListener" source="Enterprise Library Logging" formatter="Text Formatter" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData,       Microsoft.Practices.EnterpriseLibrary.Logging,       Version=6.0.0.0,       Culture=neutral,       PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener,       Microsoft.Practices.EnterpriseLibrary.Logging,       Version=6.0.0.0,       Culture=neutral,       PublicKeyToken=31bf3856ad364e35" />
      </listeners>
      <formatters>
        <add name="ErrorLog Formatter" template="Timestamp: {timestamp} Message:{keyvalue(Class Name)}.{keyvalue(Method Name)} &gt;  {message} Category: {category} Priority: {priority} Severity: {severity} Process: {processName} - {processId} Thread: {threadName} - {win32ThreadId} User:{keyvalue(User Name)} Title:{title} EventId: {eventid} Machine: {machine} Application Domain: {appDomain} Extended Properties: {dictionary({key} - {value} )}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="FlatFile Formatter" template="{timestamp(local)}|{category}|{priority}|{severity}|{processName}|{processId}|{threadName}|{win32ThreadId}|{keyvalue(User Name)}|{keyvalue(Class Name)}.{keyvalue(Method Name)}|{keyvalue(Duration)}|{message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="Text Formatter" template="Timestamp: {timestamp} Message: {message} Category: {category} Priority: {priority} EventId: {eventid} Severity: {severity} Title:{title} Machine: {machine} Application Domain: {appDomain} Process Id: {processId} Process Name: {processName} Win32 Thread Id: {win32ThreadId} Thread Name: {threadName} Extended Properties: {dictionary({key} - {value} )}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </formatters>
  		<categorySources>
  			<add switchValue="All" name="General">
  				<listeners>
  					<add name="FlatFile TraceListener" />
  				</listeners>
  			</add>
  			<add switchValue="All" name="VNCVSProjectWizard">
  				<listeners>
  					<add name="FlatFile TraceListener" />
  				</listeners>
  			</add>
  		</categorySources>
  		<specialSources>
  			<allEvents switchValue="All" name="All Events" />
  			<notProcessed switchValue="All" name="Unprocessed Category">
  				<listeners>
  					<add name="Formatted EventLog TraceListener" />
  				</listeners>
  			</notProcessed>
  			<errors switchValue="All" name="Logging Errors &amp; Warnings">
  				<listeners>
  					<add name="Formatted EventLog TraceListener" />
  				</listeners>
  			</errors>
  		</specialSources>
  	</loggingConfiguration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
<entityFramework>
<providers>
<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
</providers>
</entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.1.0" newVersion="5.11.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
